@font-face
{
	font-family: "NotoSans";
	src: url(../fonts/NotoSans-Regular.ttf);
	font-style: normal;
	font-weight: normal;
}
@font-face
{
	font-family: "JetBrainsMono";
	src: url(../fonts/JetBrainsMonoNL-Regular.ttf);
	font-style: normal;
	font-weight: normal;
}
@font-face
{
	font-family: "JetBrainsMono";
	src: url(../fonts/JetBrainsMonoNL-Bold.ttf);
	font-style: normal;
	font-weight: bold;
}
@font-face
{
	font-family: "JetBrainsMono";
	src: url(../fonts/JetBrainsMonoNL-Italic.ttf);
	font-style: italic;
	font-weight: normal;
}
@font-face
{
	font-family: "JetBrainsMono";
	src: url(../fonts/JetBrainsMonoNL-BoldItalic.ttf);
	font-style: italic;
	font-weight: bold;
}
@page
{
	margin: 1.2em;
}
body
{
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
.cover
{
	text-align: center;
}
.h1
{
	font-family: sans-serif;
	font-size: 200%;
	margin-top: 1em;
	margin-bottom: 0.1em;
	text-align: center;
}
.subtitle
{
	font-family: sans-serif;
	font-size: 150%;
	font-weight: bold;
	margin-top: 0.4em;
	margin-bottom: 5em;
	text-align: center;
}
.edition
{
	font-family: sans-serif;
	font-size: 140%;
	font-weight: bold;
	margin-top: 0.4em;
	margin-bottom: 1em;
	text-align: center;
}
.author
{
	font-family: sans-serif;
	font-size: 125%;
	margin-top: 5em;
	margin-bottom: 0.5em;
	text-align: center;
}
.pub1
{
	font-family: sans-serif;
	margin-top: 0.8em;
	margin-bottom: 0.5em;
	text-align: center;
}
.ded
{
	font-family: serif;
	margin-top: 8em;
	text-align: center;
}
.h1a
{
	font-family: sans-serif;
	font-size: 300%;
	margin-top: 1em;
	margin-bottom: 0.1em;
	text-align: center;
}
.h2
{
	font-family: sans-serif;
	font-size: 160%;
	margin-top: 0.5em;
	margin-bottom: 1em;
	text-align: center;
}
.h2a
{
	font-family: sans-serif;
	font-size: 160%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: left;
}
.h2b
{
	font-family: sans-serif;
	font-size: 160%;
	margin-top: 0.5em;
	margin-bottom: 1em;
	text-align: center;
}
.h2c
{
	font-family: sans-serif;
	font-size: 160%;
	margin-top: 0.5em;
	margin-bottom: 3em;
	text-align: center;
}
.h2d
{
	font-family: sans-serif;
	font-size: 160%;
	margin-top: 0.5em;
	margin-bottom: 1em;
	text-align: center;
}
.h3
{
	font-family: sans-serif;
	font-size: 140%;
	margin-top: 1.5em;
	margin-bottom: 0.3em;
	margin-left: 0em;
	text-align: left;
}
.h3c
{
	font-family: sans-serif;
	font-size: 110%;
	margin-top: 1.5em;
	margin-bottom: 0.3em;
	margin-left: 0em;
	text-align: center;
}
.h3a
{
	font-family: sans-serif;
	font-size: 120%;
	margin-top: 1.5em;
	margin-bottom: 0.3em;
	margin-left: -0.3em;
	text-align: left;
	background-color: #000000;
	padding: 0.2em;
	color: #ffffff;
}
.h4
{
	font-family: sans-serif;
	font-size: 130%;
	margin-top: 1em;
	margin-bottom: 0.3em;
	margin-left: 0em;
	text-align: left;
}
.h5
{
	font-family: sans-serif;
	font-size: 110%;
	margin-top: 1em;
	margin-bottom: 0.3em;
	margin-left: 0em;
	text-align: left;
}
div.pub
{
	margin-top: 3em;
	text-align: center;
}
div.image
{
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 0.5em;
	padding: 0;
	text-align: left;
	max-width: 99%;
	max-height: 99%;
	clear: both;
}
div.imagec
{
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 0.5em;
	padding: 0;
	text-align: center;
	max-width: 99%;
	max-height: 99%;
	clear: both;
}
div.image1
{
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0;
	text-align: center;
	max-width: 99%;
	max-height: 99%;
	clear: both;
}
div.image21
{
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0;
	text-align: left;
	max-width: 99%;
	max-height: 99%;
	clear: both;
}
.noindent
{
	font-family: serif;
	margin-top: 0.2em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	text-align: justify;
}
.noindent1
{
	font-family: serif;
	margin-top: 4.5em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	text-align: justify;
}
.noindenta
{
	font-family: serif;
	margin-top: 0.8em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	text-align: justify;
}
.para1
{
	font-family: serif;
	font-size: 110%;
	margin-top: 0.2em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	text-align: justify;
}
.poem
{
	font-family: serif;
	margin-top: 0.2em;
	margin-bottom: 0.1em;
	margin-left: 8em;
	text-indent: 0em;
	text-align: justify;
}
.poemt
{
	font-family: serif;
	margin-top: 1em;
	margin-bottom: 0.1em;
	margin-left: 8em;
	text-indent: 0em;
	text-align: justify;
}
.poemr
{
	font-family: serif;
	margin-top: 0.2em;
	margin-bottom: 1em;
	margin-left: 15em;
	text-indent: 0em;
}
.bq
{
	font-family: serif;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 2em;
	margin-right: 2em;
	text-align: justify;
}
.bqc
{
	font-family: serif;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 3em;
	margin-right: 3em;
	text-align: justify;
}
.noindentc
{
	font-family: serif;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0em;
	text-align: center;
}
.indentc
{
	font-family: serif;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0em;
	text-align: center;
}
.list
{
	font-family: serif;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
	margin-left: 0em;
	text-align: justify;
}
.nlistt
{
	font-family: serif;
	margin-top: 1em;
	margin-bottom: 0.5em;
	margin-left: 1.5em;
	text-indent: -1.5em;
	text-align: justify;
}
.nlist
{
	font-family: serif;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
	margin-left: 1.5em;
	text-indent: -1.5em;
	text-align: justify;
}
.nlist55
{
	font-family: serif;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
	margin-left: 1.5em;
	text-indent: -1.5em;
	text-align: justify;
}
.listing
{
	font-family: sans-serif;
	font-size: 90%;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0em;
	text-align: left;
	page-break-before: avoid;
}
.noindentt
{
	font-family: serif;
	margin-top: 1em;
	margin-bottom: 0.2em;
	margin-left: 0em;
	text-align: justify;
}
.noindentb
{
	font-family: serif;
	margin-top: 0.2em;
	margin-bottom: 0.8em;
	margin-left: 0em;
	text-align: justify;
}
.indent
{
	font-family: serif;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: 0em;
	text-indent: 1.3em;
	text-align: justify;
}
.indentt
{
	font-family: serif;
	margin-top: 0.8em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	text-indent: 1.3em;
	text-align: justify;
}
.indentb
{
	font-family: serif;
	margin-top: 0.1em;
	margin-bottom: 1em;
	margin-left: 0em;
	text-indent: 1.3em;
	text-align: justify;
}
.programs
{
	font-family: "JetBrainsMono";
	font-size: 0.8em;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	margin-left: 0em;
	text-align: left;
	border-top: solid black 0.1em;
	border-bottom: solid black 0.1em;
	padding: 0.5em 0.1em 0.5em 0.1em;
}
.codestrong
{
	font-family: "JetBrainsMono";
	font-weight: bold;
	font-size: 0.8em;
}
.codestrongitalic
{
	font-family: "JetBrainsMono";
	font-weight: bold;
	font-style: italic;
	font-size: 0.8em;
}
.codeitalic
{
	font-family: "JetBrainsMono";
	font-style: italic;
	font-size: 0.8em;
}
.codestrong1
{
	font-family: "JetBrainsMono";
	font-weight: bold;
}
.codestrongitalic1
{
	font-family: "JetBrainsMono";
	font-weight: bold;
	font-style: italic;
}
.codeitalic1
{
	font-family: "JetBrainsMono";
	font-style: italic;
}
.literal
{
	font-family: "JetBrainsMono";
	font-size: 0.8em;
}
.sidebar
{
	margin-top: 1em;
	margin-bottom: 1em;
	border: solid #000000 0.1em;
	background-color: #E6E7E8;
	padding: 1em;
	border-radius: 1em;
}
.boxtitle-d
{
	font-family: sans-serif;
	font-size: 140%;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
	text-align: left;
}
.box5
{
	font-family: serif;
	margin-top: 1em;
	margin-bottom: 1em;
	border-radius: 0.5em;
	border: solid black 0.1em;
	background-color: #DCDDDE;
	padding: 1em;
}
.box6
{
	font-family: serif;
	margin-top: 1em;
	margin-bottom: 1em;
	border-radius: 0.5em;
	border: solid 0.1em #000000;
	background-color: #FFFFFF;
	padding: 1em;
}
.caps
{
	font-family: serif;
	font-size: 110%;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	text-align: justify;
}
.capsa
{
	font-family: serif;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	text-align: justify;
}
.sidebart
{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 100%;
	margin-top: 0.1em;
	margin-bottom: 0.5em;
	text-align: center;
}
.copy1
{
	font-family: serif;
	font-size: 90%;
	margin-top: 0.8em;
	margin-bottom: 0.1em;
	margin-left: 0em;
}
.copy2
{
	font-family: serif;
	font-size: 90%;
	margin-top: 1.5em;
	margin-bottom: 0.1em;
	margin-left: 0em;
}
.programsc
{
	font-family: "JetBrainsMono";
	font-size: 0.8em;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	margin-left: 0.1em;
}
.copy
{
	font-family: serif;
	font-size: 90%;
	margin-top: 3em;
	margin-bottom: 0.8em;
	margin-left: 0em;
}
.tocpart
{
	font-family: serif;
	font-weight: bold;
	margin-top: 1.5em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	text-align: left;
}
.tocchap
{
	font-family: serif;
	font-weight: bold;
	margin-top: 1.2em;
	margin-bottom: 0.3em;
	margin-left: 0em;
	text-align: left;
}
.tocchapa
{
	font-family: serif;
	margin-top: 0.6em;
	margin-bottom: 0.3em;
	margin-left: 0em;
	text-align: left;
}
.tocsec
{
	font-family: serif;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	text-align: left;
}
.tocsec1
{
	font-family: serif;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 5.5em;
	text-indent: -1.8em;
	text-align: left;
}
.bull
{
	font-family: serif;
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	margin-left: 0.8em;
	text-indent: -0.8em;
}
.big
{
	font-size: 230%;
}
.figcap
{
	font-family: sans-serif;
	font-size: 90%;
	margin-top: 0.2em;
	margin-bottom: 1em;
	margin-left: 0em;
	text-align: left;
	page-break-before: avoid;
}
.tabcap
{
	font-family: sans-serif;
	font-size: 90%;
	margin-top: 1em;
	margin-bottom: 0.4em;
	margin-left: 0em;
	text-align: left;
	page-break-before: avoid;
}
.indexmain
{
	font-family: serif;
	margin-top: 0.2em;
	margin-bottom: 0.1em;
	margin-left: 4.3em;
	text-indent: -4.3em;
	text-align: left;
}
.indexsub
{
	font-family: serif;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 4.5em;
	text-indent: -2.8em;
	text-align: left;
}
.indexsubsub
{
	font-family: serif;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 4.5em;
	text-indent: -1.5em;
	text-align: left;
}
.topbot-d
{
	font-family: serif;
	margin-top: 0.5em;
	margin-bottom: 1.5em;
	margin-left: 0em;
	background-color: #FFFFFF;
	border-collapse: collapse;
}
.tfootnote
{
	font-family: serif;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: 0em;
	text-align: left;
}
.table-h
{
	font-family: serif;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	background-color: #FFFFFF;
	border-top: solid #000000 0.15em;
	border-bottom: solid #000000 0.15em;
}
.table-ha
{
	font-family: serif;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	background-color: #FFFFFF;
	border-bottom: solid #000000 0.1em;
}
.table-hb
{
	font-family: serif;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	background-color: #FFFFFF;
	border-top: solid #000000 0.1em;
	border-right: solid #000000 0.1em;
	border-bottom: solid #000000 0.1em;
}
.table-haa
{
	font-family: serif;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	background-color: #FFFFFF;
}
.table-a
{
	font-family: serif;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	border-right: solid #000000 0.1em;
}
.table-e
{
	font-family: serif;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	border-right: solid #000000 0.1em;
}
.table-ea
{
	font-family: serif;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	border-right: solid #000000 0.1em;
	border-bottom: solid #000000 0.1em;
}
.table-ab
{
	font-family: serif;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	border-right: solid #000000 0.1em;
	border-bottom: solid #000000 0.1em;
}
.table-ca
{
	font-family: serif;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	border-top: solid #000000 0.1em;
	border-bottom: solid #000000 0.1em;
}
.table-v
{
	font-family: serif;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	background-color: #D1D3D4;
}
.table-va
{
	font-family: serif;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	background-color: #D1D3D4;
	border-bottom: solid #000000 0.15em;
}
.table-c
{
	font-family: serif;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	border-bottom: solid #000000 0.1em;
}
.table-abc
{
	font-family: serif;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	background-color: #000000;
	border-right: solid #000000 0.1em;
	border-bottom: solid #000000 0.1em;
	color: #FFFFFF;
}
.table-abd
{
	font-family: serif;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	background-color: #CCCCCC;
	border-right: solid #000000 0.1em;
	border-bottom: solid #000000 0.1em;
	color: #000000;
}
.table-ba
{
	font-family: serif;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	background-color: #FFFFFF;
	border-bottom: solid #000000 0.15em;
}
.table-b
{
	font-family: serif;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	background-color: #FFFFFF;
	border-bottom: solid #000000 0.0em;
}
.tab_th
{
	font-family: serif;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-indent: 0em;
	text-align: left;
}
.taba
{
	font-family: serif;
	margin-top: 0.2em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	text-align: left;
}
.tabi
{
	font-family: serif;
	margin-top: 0.2em;
	margin-bottom: 0.1em;
	margin-left: 1em;
	text-indent: -1em;
	text-align: left;
}
.tabc
{
	font-family: serif;
	margin-top: 0.2em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	text-align: center;
}
.tabd
{
	font-family: serif;
	margin-top: 0.2em;
	margin-bottom: 0.1em;
	margin-left: 1em;
	text-align: center;
}
.tabaa
{
	font-family: serif;
	margin-top: 0.2em;
	margin-bottom: 0.1em;
	margin-left: 1em;
	text-align: left;
}
.note
{
	margin-top: 1em;
	margin-bottom: 1em;
	border: solid black 0.1em;
	margin-left: 0em;
	text-align: left;
	padding: 0em 0.5em 0.5em 0em;
}
.notet
{
	font-family: sans-serif;
	font-size: 110%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 0.1em;
}
.notep
{
	font-family: serif;
	margin-top: 0.2em;
	margin-bottom: 0.1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	text-align: justify;
}
.ent
{
	font-family: "NotoSans";
	src: url(../fonts/NotoSans-Regular.ttf);
}
img
{
	max-width: 99%;
	max-height: 99%;
}
.hangt
{
	font-family: serif;
	margin-top: 0.5em;
	margin-bottom: 0.3em;
	margin-left: 1.5em;
	text-align: justify;
}
.hang
{
	font-family: serif;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	margin-left: 1.5em;
	text-align: justify;
}
.hangb
{
	font-family: serif;
	margin-top: 0.3em;
	margin-bottom: 0.5em;
	margin-left: 1.5em;
	text-align: justify;
}
.notes
{
	background-color: #000000;
	color: #FFFFFF;
	padding: 0.3em;
}
.spara
{
	font-family: serif;
	font-size: 90%;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	margin-left: 0em;
	text-align: justify;
}
.sparai
{
	font-family: serif;
	font-size: 90%;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	margin-left: 0em;
	text-indent: 1.2em;
	text-align: justify;
}
.sfootnote
{
	font-family: serif;
	font-size: 90%;
	margin-top: 1em;
	margin-bottom: 0.2em;
	margin-left: 0em;
	text-align: left;
}
.sfootnote1
{
	font-family: serif;
	font-size: 90%;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: 0em;
	text-align: left;
}
.middle
{
	vertical-align: middle;
}
.margin
{
	font-family: "JetBrainsMono";
	font-size: 0.8em;
	margin-top: 0.5em;
	margin-bottom: 0.0em;
	margin-left: 0em;
	text-align: left;
}
.center
{
	font-family: serif;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.gray
{
	color: #939598;
}
.H-L
{
	background-color: #000000;
	color: #FFFFFF;
}
.footnote
{
	font-family: serif;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: 0em;
	text-align: left;
}
.f1
{
	font-size: 50%;
}
.box1
{
	font-family: serif;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: #1AA993;
	color: #FFFFFF;
	padding: 1em;
}
.box2
{
	font-family: serif;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: #000000;
	color: #FFFFFF;
	padding: 1em;
}
.box1-d
{
	font-family: sans-serif;
	font-size: 110%;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
	text-align: center;
}
.underline
{
	text-decoration: underline;
}
.question
{
	font-family: serif;
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	margin-left: 1.5em;
	text-indent: -1em;
}
.question1
{
	font-family: serif;
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	margin-left: 1.5em;
	text-indent: -1.5em;
}
.programs1
{
	font-family: "JetBrainsMono";
	font-size: 0.8em;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	margin-left: 2em;
	text-align: left;
	border-top: solid black 0.1em;
	border-bottom: solid black 0.1em;
	padding: 0.5em 0.1em 0.5em 0.1em;
}
.question-para
{
	font-family: serif;
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	margin-left: 1.5em;
	text-indent: 0em;
}
.question-in
{
	font-family: serif;
	margin-top: 0.8em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	text-indent: 1.3em;
	text-align: justify;
}
.answer
{
	font-family: serif;
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	margin-left: 1.5em;
	text-indent: -1em;
}
.answer1
{
	font-family: serif;
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	margin-left: 1.5em;
	text-indent: -1.5em;
}
